@import "tailwindcss";

/* Global Styles */

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
}

header {
  background-image: url(../assets/bg-header.webp);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 1;
}

/* Buttons */

.btn {
  box-shadow: 0 0 15px rgba(190, 190, 190, 0.8),
    0 0 20px rgba(131, 131, 131, 0.6), 0 0 25px rgba(102, 102, 102, 0.4),
    0 0 30px rgba(94, 94, 94, 0.4);
  transition: all 0.5s;
  backdrop-filter: blur(5px);
}

.btn:hover {
  cursor: pointer;
  background: #262635d0;
  box-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
  transform: scale(1.08);
  color: #000;
  font-weight: 800;
}

/* Scroll */

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(190, 190, 190, 0.8), 0 0 8px rgba(131, 131, 131, 0.6),
    0 0 20px rgba(102, 102, 102, 0.4), 0 0 10px rgba(94, 94, 94, 0.4);
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/* Shadows */

.text-shadow {
  text-shadow: 0 0 5px rgb(218, 218, 218), 0 0 10px rgb(187, 187, 187),
    0 0 15px rgb(145, 145, 145), 0 0 20px rgb(131, 131, 131);
}

.box-shadow {
  box-shadow: 0 0 5px rgb(218, 218, 218), 0 0 10px rgb(187, 187, 187),
    0 0 15px rgb(145, 145, 145), 0 0 20px rgb(131, 131, 131);
}

.icon-shadow {
  filter: drop-shadow(0 0 2px rgb(218, 218, 218))
    drop-shadow(0 0 8px rgb(187, 187, 187))
    drop-shadow(0 0 10px rgb(145, 145, 145));
}
